
@use '../abstracts'

.counter {
  border: solid 1px $border-color;
  margin-top: 40px;
  padding: 30px;
  box-shadow: 0 0 8px rgba(0,0,0,.15);
  border-radius: 6px;
  background: white;

  @include flex-center-column;
  gap: 10px;

  .value {
    font-size: 32px;
    font-weight: bold;
  }

  .counter-controls {
    @include flex-center;
    gap: 10px;
  }

  button {
    border: none;
    padding: 10px 18px;
    background-color: $primary-color;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s;

    &:hover {
      opacity: .8;
    }
  }
}